body {
    margin: 0px;
}

:root {
    --navPadding:6px 16px;
    --baseColor: #3BC1A8;
}

#sign-in {
    margin: 3cm 20%;
    border: 1px solid var(--baseColor);
    background-color: var(--baseColor);
    box-shadow: 2px 2px 10px gray;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.sign-in input {
    margin-bottom: 5px;
    border-radius: 5px;
    height: 20px;
    width: 200px;
}

#sign-in-submit {
    width: 80px;
    height: 30px
}

.content {
    margin: 8px;
}

nav ul {
    margin:0px;
    display:flex;
    background-color: var(--baseColor);
    border-bottom: 1px solid black;
    list-style: none;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

#nav-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--navPadding);
    text-align: center;
    padding: var(--navPadding);
}

nav .button {
    display:inline-block;
    background-color: var(--baseColor);
    border:none;
    text-align: center;
    cursor: pointer;
    padding: var(--navPadding);
    text-decoration: none;
}

nav .button:hover {
    background-color: var(--baseColor);
}