body {
    margin: 0px;
}

:root {
    --navPadding:16px;
}

#sign-in {
    margin: 3cm 20%;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

#sign-in input {
    margin-bottom: 5px;
}

.content {
    margin: 8px;
}

nav ul {
    margin:0px;
    display:flex;
    background-color: lightskyblue;
    border-bottom: 1px solid black;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

#nav-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--navPadding);
    text-align: center;
    padding: var(--navPadding);
}

nav .button {
    display:inline-block;
    background-color: lightskyblue;
    border:none;
    text-align: center;
    cursor: pointer;
    padding: var(--navPadding);
    text-decoration: none;
}

nav .button:hover {
    background-color: rgb(119, 179, 216);
}