@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --navPadding:6px 16px;
    --baseColor: skyblue;
    --buttonColor: lightblue;
    --navColor: lightgray;
    --footerColor: lightgray;
    --darkColor: rgb(80, 154, 183);
    --pressColor: #EDE8DC;
    --textColor: white;
    --baseFont: 'Rubik', sans-serif;
    --highlightColor: #ff6c6c;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: var(--baseFont);
    background-color: white;
}

main {
    padding: 20px;
}



.basic-box {
    background-color: var(--baseColor);
    box-shadow: 2px 2px 10px gray;
    border-radius: 15px;
    padding: 10px;
    overflow:hidden;
}



input, select {
    height: 20px;
    font-family: sans-serif, Arial, Helvetica;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    margin: 2px 0;
}


form input {
    min-width: 0;
    width: calc(100% - 10px);
}

input[type='submit'] {
    margin: 5px auto 0;
    width: 80px;
    height: 40px;
    background-color: var(--buttonColor);
}

input[type='submit']:hover {
    background-color: var(--darkColor);
}

nav {
    flex: 0 0 auto;
    background-color: var(--navColor);
}

footer {
    background-color: var(--footerColor);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    padding: 5px;
}

#banner {
    width: 100%;

}

nav ul {
    margin:0px;
    display:flex;
    border-bottom: 1px solid black;
    list-style: none;
    padding: 10px 10px;
    align-items: center;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

#nav-logo {
    font-size: var(--navPadding);
    text-align: center;
    padding: var(--navPadding);
}

nav .button {
    display:inline-block;
    border:none;
    text-align: center;
    cursor: pointer;
    padding: var(--navPadding);
    text-decoration: none;
}

nav .button:hover {
    background-color: var(--baseColor);
}