body {
    margin: 0px;
}

.content {
    margin: 8px;
}

nav ul {
    margin:0px;
    padding:10px;
    display:flex;
    grid-template-columns: repeat(auto-fit, 100px);
    background-color: lightskyblue;
    border-bottom: 1px solid black;
    list-style: none;
    text-align: center;
}

nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}