@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --navPadding:6px 16px;
    --baseColor: #ff5151;
    --darkColor: #e83333;
    --pressColor: #EDE8DC;
    --textColor: white;
    --baseFont: 'Rubik', sans-serif;
    --highlightColor: #ff6c6c;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: var(--baseFont);
    background-color: white;
}

#sign-in {
    display: flex;
    flex-direction: column;
    margin: 3cm 20%;
    background-color: var(--baseColor);
    box-shadow: 2px 2px 10px gray;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

input {
    border-radius: 5px;
    height: 20px;
    font-family: sans-serif, Arial, Helvetica;
    border: 1px solid black;
    padding: 0 5px;
}

form {
    gap:5px;
    display:flex;
    flex-direction: column;
}

form input {
    min-width: 0;
    width: calc(100% - 10px);
}

input[type='submit'] {
    flex: 0 0 40px;
    margin: 5px auto 0;
    width: 80px;

    background-color: var(--baseColor);
}

input[type='submit']:hover {
    background-color: var(--darkColor);
}

nav {
    flex: 0 0 auto;
}

main {
    flex: 1;
    margin: 20px;
}

footer {
    background-color: var(--baseColor);
    flex: 0 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--darkColor);
    padding: 5px;
}

nav ul {
    margin:0px;
    display:flex;
    background-color: var(--baseColor);
    border-bottom: 1px solid black;
    list-style: none;
    padding: 10px 10px;
    align-items: center;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

#nav-logo {
    font-size: var(--navPadding);
    text-align: center;
    padding: var(--navPadding);
}

nav .button {
    display:inline-block;
    background-color: var(--baseColor);
    border:none;
    text-align: center;
    cursor: pointer;
    padding: var(--navPadding);
    text-decoration: none;
}

nav .button:hover {
    background-color: var(--baseColor);
}

.action-buttons {
    display: flex;
}

.action-buttons {
    display: flex;
    width: 30%;
    margin: 0;
}

.action-buttons .bubble {
    margin: 5px;
    flex: 1;
    background-color: var(--baseColor);
    border-radius: 5px;
    color: var(--textColor);
}

.action-buttons .bubble:hover {
    background-color: var(--darkColor);
}

.action-buttons .bubble.bubble:active {
    background-color: var(--pressColor);
}

.add-event {
    background-color: var(--baseColor);
    padding: 5px;
    width: 200px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.add-event > * {
    margin: 5px;
    padding: 0;
}

#event-name {
    display:flex;
}

#event-name input[type="text"] {
    flex: 1; 
    margin-right: 5px;
}

#event-name input[type="color"] {
    flex: 0 0 20px;
    padding: 0;
    border: 0;
    height: auto;
    
}

#time-picker {
    display: flex;
}

#time-picker div:not(:last-child) {
    margin-right:5px;
}

#availability {
    width: 1;
}

.event-content {
    background-color: var(--highlightColor);
    display: grid;
    grid-template-columns: 50px 1fr;
    border: 1px solid black;
    border-radius: 8px;
    gap: 15px;
    padding: 5px;
    max-width: 400px;
    height: 64px;
}

.event-info {
  display: flex;
  flex-direction: column;
  container-type: size;
  gap: 5px;
  padding-right: 10px;
  justify-content: space-between;
  overflow: hidden;
}

#info-detailed {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.event-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#event-desc {
    font-size: auto;
    overflow: hidden;
}

.compare-calendars {
    display: flex;
    gap: 2px
}

.compare-calendars div{
    flex: 1;
}


@container (max-height: 63px) {
    #event-desc {
        display:none;
    }
}