nav {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: 8px;
}

nav ul {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    background-color: lightskyblue;
    border-bottom: 1px solid black;
    list-style: none;
    margin:0px;
}