/* Page-specific styling */


#calendar-page {
    display:flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#calendar-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calendar-title {
    display:flex;
    justify-content: space-between;
}

#calendar-title button {
    margin: 16px 0;
    display: none;
}

.event-window {
    position: relative;
    height: 1200px;
    width: 400px;
}

.event-content {
    flex: 0 0 400px;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    padding: 5px;
    min-width: 0;
    border-radius: 8px;
}

#taskbar {
    flex: 0 0 200px;
    height: fit-content;
}

.event-info {
    display: flex;
    flex-direction: column;
    container-type: size;
    gap: 5px;
    padding-right: 10px;
    justify-content: space-between;
    overflow: hidden;
}

#info-detailed {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.event-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#event-desc {
    font-size: auto;
    overflow: hidden;
}

.tasks ul li {
    max-width: 300px;
    margin-bottom: 3px;
    margin-right: 16px;
}

@container (max-height: 63px) {
    #event-desc {
        display:none;
    }
}

@media (max-width: 700px) {
    #taskbar {
        display: none;
    }
    #calendar-title button {
        display:block;
    }
}