/* Page-specific styling */




#calendar-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calendar-title {
    display:flex;
    justify-content: space-between;
}

#calendar-title button {
    margin: 16px 0;
    display: none;
}

.event-window {
    position: relative;
    height: 1200px;
    margin-top: 16px;
    margin-bottom: 50px;
    max-width: 800px;
    border: 1px solid lightgray;
}

.event-content {
    flex: 0 0 400px;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    padding: 5px;
    min-width: 0;
    border-radius: 8px;
}

.calendar-event {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px 5px;
    overflow: hidden;
    align-items: center;
}

#taskbar {
    flex: 0 0 200px;
    height: fit-content;
}

.event-info {
    display: flex;
    flex-direction: column;
    container-type: size;
    gap: 5px;
    padding-right: 10px;
    justify-content: space-between;
    overflow: hidden;
}

#info-detailed {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.event-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#event-desc {
    font-size: auto;
    overflow: hidden;
}

.tasks ul li {
    max-width: 300px;
    margin-bottom: 3px;
    margin-right: 16px;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;
    height: 200px;
}

.pop-up .event-content {
    width: 100%;
    height: 100%;
}

.clickable:hover {
    cursor: pointer;
}

@container (max-height: 63px) {
    #event-desc {
        display:none;
    }
}

@media (max-width: 700px) {
    #taskbar {
        display: none;
    }
    #calendar-title button {
        display:block;
    }
}