@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --baseColor: skyblue;
    --buttonColor: lightblue;
    --navColor: lightgray;
    --footerColor: lightgray;
    --darkColor: rgb(80, 154, 183);
    --baseFont: 'Rubik', sans-serif;
}


.app {
    display:flex;
    flex-direction: column;
    margin: 0px;
    font-family: var(--baseFont);
    background-color: white;
}

main {
    padding: 20px;
    flex: 1;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.basic-box {
    background-color: var(--baseColor);
    box-shadow: 2px 2px 10px gray;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    overflow:hidden;
}



input, select {
    height: 20px;
    font-family: sans-serif, Arial, Helvetica;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    margin: 2px 0;
}


form input {
    min-width: 0;
    width: calc(100% - 10px);
}

input[type='submit'], input[type='button'] {
    margin: 5px auto 0;
    width: 80px;
    height: 40px;
    background-color: var(--buttonColor);
}

input[type='submit']:hover, input[type='button']:hover {
    background-color: var(--darkColor);
}

nav {
    flex: 0 0 auto;
    background-color: var(--navColor);
}

footer {
    background-color: var(--footerColor);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
    padding: 5px;
}

#banner {
    width: 100%;

}

nav ul {
    display:flex;
    margin-bottom: 0;
    border-bottom: 1px solid black;
    list-style: none;
    padding: 10px 20px;
    align-items: center;
}

nav li:not(:last-child) {
    border-right: 1px solid black;
}

#nav-logo {
    flex: 0 0 90px;
    text-align: center;
    padding: 6px 10px;
    margin: 0;
}

nav .button {
    cursor: pointer;
    padding: 0px 8px;
    text-decoration: none;
}

nav li {
    flex: 0 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    height: 48px;
}

.button:hover {
    background-color: rgba(0,0,0,.1);
}